---
http_interactions:
- request:
    method: post
    uri: https://connect.stripe.com/oauth/deauthorize
    body:
      encoding: UTF-8
      string: stripe_user_id=<HIDDEN-STRIPE_ACCOUNT>&client_id=bogus_client_id
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 71b7e2dc-da87-4aa9-93b7-80d0d67a56c9
      Stripe-Version:
      - 2026-02-25.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - 3ff
      Stripe-Action-Id:
      - sin1DroAF5Yxc2oGtabbQN9
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "invalid_client",
          "error_description": "No such application: 'bogus_client_id'"
        }
  recorded_at: Sun, 12 Apr 2026 18:17:05 GMT
recorded_with: VCR 6.4.0
