---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2027&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 7c4c26b9-184b-4ed3-a9b6-e6b6bc49c85e
      Stripe-Version:
      - 2026-02-25.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7c4c26b9-184b-4ed3-a9b6-e6b6bc49c85e
      Original-Request:
      - req_9Hj463wHMqgxa2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-02-25.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TLSXoKuuB1fWySnNefXtmyI",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2027,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1776017740,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 12 Apr 2026 18:15:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - f26f41b8-9d51-4c83-b55b-118cad1244aa
      Stripe-Version:
      - 2026-02-25.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f26f41b8-9d51-4c83-b55b-118cad1244aa
      Original-Request:
      - req_Ynfcvsv1nugi0K
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-02-25.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UK6lyqtSp3IAlm",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1776017741,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "DNFNJOAE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 12 Apr 2026 18:15:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1TLSXoKuuB1fWySnNefXtmyI/attach
    body:
      encoding: UTF-8
      string: customer=cus_UK6lyqtSp3IAlm
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - fe0800ce-507b-4653-9024-75a63b7d1c3c
      Stripe-Version:
      - 2026-02-25.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: expand[0]=sources&email=leda%40harris.name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0862cc05-861e-4c82-a5fe-58498a6b7903'
      Original-Request:
      - req_sWuf5V7LDf3bFR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UK6lyJ57cE2p74",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1776017743,
          "currency": null,
          "customer_account": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "leda@harris.name",
          "invoice_prefix": "LDOLHTHK",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_UK6lyJ57cE2p74/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 12 Apr 2026 18:15:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1TLSXoKuuB1fWySnNefXtmyI/attach
    body:
      encoding: UTF-8
      string: customer=cus_UK6lyJ57cE2p74
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5400afac-fe1d-4e9c-92f0-d1a125826ced
      Original-Request:
      - req_wfEncQRXX62clj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The payment method you provided has already been attached to a customer.",
            "request_log_url": "https://dashboard.stripe.com/acct_1FiqEsKuuB1fWySn/test/workbench/logs?object=req_wfEncQRXX62clj",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 12 Apr 2026 18:15:43 GMT
recorded_with: VCR 6.4.0
