---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2027&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 82a77c95-86f5-410b-af68-3d708fd12078
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 82a77c95-86f5-410b-af68-3d708fd12078
      Original-Request:
      - req_VEeYscYtOrUw23
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TLN0IKuuB1fWySncH76KT5h",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2027,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1775996442,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 12 Apr 2026 12:20:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - d2a19583-17d9-4a0c-b7c9-4ee37e298849
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d2a19583-17d9-4a0c-b7c9-4ee37e298849
      Original-Request:
      - req_RD7gf5uKMQ7LKI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UK12f8OO8ygeXK",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1775996443,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "C9ZHGHO9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 12 Apr 2026 12:20:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1TLN0IKuuB1fWySncH76KT5h/attach
    body:
      encoding: UTF-8
      string: customer=cus_UK12f8OO8ygeXK
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - d1cb7b06-3f7b-455d-898d-a1cff60652cf
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: expand[0]=sources&email=ula.nolan%40ledner.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 14fe75c2-4e02-4e10-812c-20aa7a4c7809
      Original-Request:
      - req_WsBjdf5zxZs8w9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UK12EdQxBhN0cR",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1775996445,
          "currency": null,
          "customer_account": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ula.nolan@ledner.com",
          "invoice_prefix": "KPJCGUCB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_UK12EdQxBhN0cR/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 12 Apr 2026 12:20:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1TLN0IKuuB1fWySncH76KT5h/attach
    body:
      encoding: UTF-8
      string: customer=cus_UK12EdQxBhN0cR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3e28cc54-1c68-49de-8ddf-e343657aa7f5
      Original-Request:
      - req_meKEqbnkZrjPur
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The payment method you provided has already been attached to a customer.",
            "request_log_url": "https://dashboard.stripe.com/acct_1FiqEsKuuB1fWySn/test/workbench/logs?object=req_meKEqbnkZrjPur",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 12 Apr 2026 12:20:46 GMT
recorded_with: VCR 6.4.0
