---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_mastercard&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 41671c68-14f6-477a-adbf-bb9efb50997d
      Stripe-Version:
      - 2025-10-29.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 41671c68-14f6-477a-adbf-bb9efb50997d
      Original-Request:
      - req_uAQBESzSroiLR4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-10-29.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TLSIQKuuB1fWySn0sglay9Q",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1776016786,
          "currency": "eur",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TLSIQKuuB1fWySnfU3x0a1o",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 12 Apr 2026 17:59:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLSIQKuuB1fWySn0sglay9Q/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 65fa6166-8164-47ad-8f11-a993e796d9d2
      Stripe-Version:
      - 2025-10-29.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLSIQKuuB1fWySn0sglay9Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-10-29.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-10-29.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLSIQKuuB1fWySn0sglay9Q/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 13480586-ef3e-4b4f-809f-3445081b162e
      Stripe-Version:
      - 2025-10-29.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
[...]
