---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - d5241d2a-88b5-4a70-8a91-4242f17a7b55
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5241d2a-88b5-4a70-8a91-4242f17a7b55
      Original-Request:
      - req_sWDXDxOw4OdSlu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UK10ucCf186QzI",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1775996359,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "DVMKB6HI",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 12 Apr 2026 12:19:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_mastercard&payment_method_types[0]=card&capture_method=manual&customer=cus_UK10ucCf186QzI&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 74f67d28-e210-4dd2-9770-b42197d599df
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 74f67d28-e210-4dd2-9770-b42197d599df
      Original-Request:
      - req_qeaJEhvkP2jJBo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TLMyyKuuB1fWySn1L5pfW27",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1775996360,
          "currency": "eur",
          "customer": "cus_UK10ucCf186QzI",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TLMyyKuuB1fWySnHJBZLVJH",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 12 Apr 2026 12:19:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLMyyKuuB1fWySn1L5pfW27/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 324d842a-b5ea-4bcc-96bf-a8496630dd66
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLMyyKuuB1fWySn1L5pfW27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-09-30.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLMyyKuuB1fWySn1L5pfW27/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 2cf50746-4e1f-427f-8bf4-bf2c4fc96178
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
[...]
