---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_mastercard&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 06c616a4-905e-46bd-8b2f-48a9b72a5840
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 06c616a4-905e-46bd-8b2f-48a9b72a5840
      Original-Request:
      - req_HD90lPq6Fr98aM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TLMxfKuuB1fWySn0h2Dg13G",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1775996279,
          "currency": "eur",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TLMxfKuuB1fWySncUHl0nhu",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 12 Apr 2026 12:17:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLMxfKuuB1fWySn0h2Dg13G/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - f9d28b9c-8f86-445e-aa20-99ba3b5dd66a
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLMxfKuuB1fWySn0h2Dg13G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-09-30.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TLMxfKuuB1fWySn0h2Dg13G/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 6ebf78f4-0feb-4298-8384-dbdf2777b4b5
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
[...]
