---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2027&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - fff65614-bcf0-48c8-be19-88d7b36eea49
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fff65614-bcf0-48c8-be19-88d7b36eea49
      Original-Request:
      - req_lSFIRu2yFc11hq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1TLMwgKuuB1fWySnpWg5Frpb",
          "object": "token",
          "card": {
            "id": "card_1TLMwgKuuB1fWySnefyrYAB3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "119.73.101.120",
          "created": 1775996218,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 12 Apr 2026 12:16:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=christina%40hoeger.name&source=tok_1TLMwgKuuB1fWySnpWg5Frpb
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 3d1c3631-8f59-4289-b20b-a24e783b1a58
      Stripe-Version:
      - 2025-09-30.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3d1c3631-8f59-4289-b20b-a24e783b1a58
      Original-Request:
      - req_Yt6riRTHmJhAfs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UK0yKeql90zwYJ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1775996219,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1TLMwgKuuB1fWySnefyrYAB3",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "christina@hoeger.name",
          "invoice_prefix": "RTONLBLZ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 12 Apr 2026 12:16:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_UK0yKeql90zwYJ/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-09-30.clover
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-09-30.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1TLMwgKuuB1fWySnefyrYAB3",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "allow_redisplay": "unspecified",
              "brand": "Visa",
              "country": "US",
              "customer": "cus_UK0yKeql90zwYJ",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "email": null,
              "exp_month": 9,
              "exp_year": 2027,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "phone": null,
              "regulated_status": "unregulated",
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_UK0yKeql90zwYJ/sources"
        }
  recorded_at: Sun, 12 Apr 2026 12:17:00 GMT
recorded_with: VCR 6.4.0
