---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2027&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - cbf81f87-ce8c-4909-8154-0d2f6b548a73
      Stripe-Version:
      - 2026-02-25.clover
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cbf81f87-ce8c-4909-8154-0d2f6b548a73
      Original-Request:
      - req_KAICLySbtLyndq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-02-25.clover
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TLSXlKuuB1fWySnXZDlpkQa",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2027,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1776017737,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 12 Apr 2026 18:15:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: expand[0]=sources&email=shawanna.oreilly%40cassinmraz.name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a665bec5-eddf-4a7d-83ea-a5a5fdc8ab38
      Original-Request:
      - req_WBfYhPL7jkA2IZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UK6l00ITvePnVL",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1776017738,
          "currency": null,
          "customer_account": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "shawanna.oreilly@cassinmraz.name",
          "invoice_prefix": "F6F6OCGI",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_UK6l00ITvePnVL/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 12 Apr 2026 18:15:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1TLSXlKuuB1fWySnXZDlpkQa/attach
    body:
      encoding: UTF-8
      string: customer=cus_UK6l00ITvePnVL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency[...]
