- @formatted_tag_rules.each do |tag_rule|
  %li.suggestion-item{ role: "option", "data-autocomplete-value": tag_rule[:tag], "data-autocomplete-label": tag_rule[:tag] }
    = "#{tag_rule[:tag]} has #{tag_rule[:rules]} rule"
